@font-face
  font-family MagicCards
  font-style normal
  src url("/font/Magic Cards Normal.ttf")

// colors
$accentColor = #bb86fc
$textColor = #e2e2e2
$bgColor = #121212
$navBgColor = #1f1f1f
$heroBgColor = #007bff
$borderColor = #e2e2e2
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #2f845e
$badgeWarningColor = darken(#e7c000, 35%)
$badgeErrorColor = #DA5961

// custom containers
$tipBgColor = lighten($bgColor, 5%)
$tipBorderColor = #2f845e
$warningBgColor = rgba(60,54,19,.3)
$warningBorderColor = #ffdf00
$dangerBgColor = #420000
$dangerBorderColor = red

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
